.home-box {
  display: flex;
  flex-direction: column;
  max-width:100%
}

.carousel-wrapper {
  width: 100%
}
.carousel-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
  height: 650px;
}

.carousel-item {
  position: relative;
}

.text {
  z-index: 2;
  position: absolute;
  bottom: 20%;
  text-align: center;
  color: white;
  
}

.text h5 {
  padding-bottom: 0;
  font-size: 3rem; 
  font-family : "Roboto";
}

.text p {
  font-style: italic;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  font-size: 0.8rem; /* Adjust this value to make the paragraph text larger or smaller */
}

.home-container {
  display : flex;
  flex-direction : center;
  padding: 20px;
  flex-direction: row;
  justify-content: space-around;
  
  /*padding-top: 30px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  bottom: 150px;*/
  
  width: 100%;
  z-index: 2;
  padding-top : 5vh;
  padding-bottom : 5vh;
  margin : 0;
}

.events-section {
  background-color: #F0F0F0;
  border-radius: 5px;
 /* Set a fixed height */
  /*width: 100%; /* Optional: Set a width */
  /*overflow-y: auto; /* Enables vertical scrolling */
  /*border: 1px solid #ccc; /* Optional: Add a border for visibility */
  /* padding: 20px; /* Optional: Add padding for content spacing */
  height: 58vh;
  width: 70vh;
  overflow-y: auto;
  border : 1px solid #ccc;
  padding: 20px;
  padding-bottom : 20px;
}

/*.map-section {
  height: 80vh;
  border-radius: 5px;
  width: 100%;
}*/
 
/*@media (max-width: 960px) {
  .home-container {
    grid-template-columns: 1fr;
  }
  
  .events-section,
  .map-section {
    height: 50vh;
  }
}*/
 


@media (max-width: 768px) {
  .carousel-contrainer{
    height : 300vh;
    width: 100%; /* Utilize full width on smaller screens */
    padding: 20px; /* Adjust padding for compactness */
  }
}

.carousel-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Add subtle overlay for readability */
  z-index: 0;
}

.submit-button{
 background-color: #4285F4; /* Google Blue */
  color: white;
  border: 1px solid #4285F4;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;

}

